body {
  font-family: 'Poppins', sans-serif !important;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: black;
  margin: 0 0 120px;
  /* bottom = footer height */
}

.title{
  margin: 30px 20px 30px 20px;
}

.sub-title{
  margin-bottom: 30px;
}