<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /website2/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /website2/index.html [L]
</IfModule>